.expenses-filter {
	color: white;
	padding: 0 1rem;
}

.expenses-filter__control {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 10rem;
	margin: 0.5rem 0;
}

.expenses-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: flex-end;
	margin: 1rem 0;
}

.expenses-filter .label,
.expenses-filter .select__label {
	color: white;
}

.expenses-filter input {
	width: 100%;
}

.expenses-filter .select__control {
	font-weight: bold;
}
